@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    background: url('/img/bg.jpg');
    min-height: 100vh;
    /* min-width: 100vw; */
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Pangolin', cursive;
}


#board {
    background: linear-gradient(rgb(204, 250, 204), rgb(177, 177, 85));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(brown, red);
    border: .25vmin solid rgb(90, 0, 0);
    border-radius: 12px;
    transform: scale(1.2);
}

.snake {
    background: linear-gradient(brown, black);
    border: .25vmin solid rgb(90, 0, 0);
    border-radius: 12px;
}

.food {
    background: linear-gradient(rgb(7, 7, 78), green);
    border: .25vmin solid black;
    border-radius: 12px;
}